<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"></link>
</head>
<body>
	<h1 class="color-rojo" th:text = "${titulo}"></h1>
	<h2 class="color-azul">Decorando con estilos css estaticos</h2>
	<img th:src="@{/images/picture.png}"></<img>
</body>
</html>