<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${usuarios.size() == 0}">No hay usuarios en la lista</div>
	<div th:if="${usuarios.isEmpty()}">No hay usuarios en la lista</div>
	<!-- 
	lista not empty 
	th:if="${not usuarios.isEmpty()}" 
	-->
	<table th:if="${usuarios.size() > 0}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<!-- Directiva ForEach de Spring -->
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>