<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del Request HTTP GET - URL</h1>
	<ul>
		<!-- con @se envian links propios, como de controladores y metodos hander, recursos/js-->
		<li><a th:href="@{/params/string(texto='hola Yamil')}">/params/string?texto=hola Yamil</a>			</li>
		<li><a th:href="@{/params/string(texto='que tal Dafne')}">/params/string?texto=que tal Dafne</a></li>
		<li><a th:href="@{/params/mix-params(textoOtro='como estas Dafne', numero=100)}">/params/mix-params?textoOtro=como estas Dafne&numero=100</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='como estas Dafne', numero=100)}">/params/mix-params-request?saludo=como estas Dafne&numero=100</a></li>		
		<!-- Nota: Se puede enviar alguna variable así: "@{/path/} + ${variable} + ${'10'}" -->
	</ul>
</body>
</html>