<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola Yamil'">/variables/string/</a></li>
		<li><a th:href="@{/variables/string/} + 'Hola Dafne'">/variables/string/</a></li>
		<li><a th:href="@{/variables/string/} + 'Hola Ale' + '/' + 10">/variables/string/</a></li>
	</ul>
</body>
</html>