<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
<title th:text="${titulos}"></title>
</head>
<body>
	<h1 th:text="${titulos}"></h1>
	<div th:text="${resultado}"></div>
</body>
</html>